SYNOP/
ZETA_Klimes/
better-mff-thesis-master/feedback/
chmu_data/
data_vojtaklimes.xlsx
data_vojtaklimes.zip
fitted_stations_timeJAN.csv
literatura/
maxdennitepzaloha.R
out_fit/
weird_residuals.svg
*.RData
